@font-face {
  font-family: ShadowsIntoLight;
  src: url(/public/assets/Shadows_Into_Light_Two/ShadowsIntoLightTwo-Regular.ttf)
    format("truetype");
  font-family: Mali;
  src: url(/public/assets/Mali/Mali-Bold.ttf) format("truetype");
  font-family: Caveat;
  src: url(/public/assets/Caveat/Caveat-VariableFont_wght.ttf)
    format("truetype");
}
:root {
  --background: #faf9f6;
  --text: #242424;
  --highlighter-yellow: #fbff2b;
  --highlighter-blue: #3cdfff;
  --highlighter-pink: #fb62f3;
  font-family: Caveat, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(public/assets/dot-seamless-pattern.png);
  background-color: var(--background);
  background-size: 200px;
  height: 100svh;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text);
}
