@font-face {
  font-family: ShadowsIntoLight;
  src: url(/public/assets/Shadows_Into_Light_Two/ShadowsIntoLightTwo-Regular.ttf)
    format("truetype");
}
:root {
  --background: #faf9f6;
  --text: #242424;
  font-family: ShadowsIntoLight, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(public/assets/dot-seamless-pattern.svg);
  background-size: 30%;
  height: 100svh;
  width: 100%;
  margin: 0;
  padding: 0;
}
